@using TigerBank.Models.ViewModels
@model AccountVM

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Account</h2>
            </hr>
        </div>
        <div class="mb-3">
            <label asp-for="Account.AccountName"></label>
            <input asp-for="Account.AccountName" class="form-control" />
            <span asp-validation-for="Account.AccountName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Account.Balance"></label>
            <input asp-for="Account.Balance" class="form-control" />
            <span asp-validation-for="Account.Balance" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Account.UserId"></label>
            <select asp-for="Account.UserId" asp-items="@Model.UsersList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="Account.UserId" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Account.AccountTypeId"></label>
            <select asp-for="Account.AccountTypeId" asp-items="@Model.AccountTypeList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="Account.AccountTypeId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">  <a class="link-light" asp-action="Index">Create Account</a></button>
        <a asp-action="Index" class="btn btn-secondary" style="width: 150px">Cancel</a>

    </div>
</form>