@{
    ViewData["Title"] = "Bank Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tiger Bank</h1>
    <h3 class="display-6">What would you like to do today? </h3>
    <br />
</div>
<div class = "text-center">
 <a asp-action="Index"> 
<article class="card">
  <h1>Make a Deposit</h1>
  <p>Deposit money into an account</p>
</article>
</a>
 <br />
 <a asp-action="Index"> 
 <article class="card">
  <h1>Store an Amount</h1>
  <p>Store money into an account</p>

</article>
</a>
 <br />
 <a asp-action="Index"> 
<article class="card">
  <h1>Make a Withdrawal</h1>
  <p>Withdraw a sum of money from an account</p>
</article>
</a>
 <br />
 <a asp-action="Index"> 
<article class="card">
  <h1>View Account History</h1>
  <p>View a history of all account transactions</p>
</article>
 </a>
 <br />
</div>

 