@model Accounts

<form method="post">
    <input asp-for="AccountId" hidden />
    <input asp-for="AccountName" hidden />
    <input asp-for="UserId" hidden />
    <input asp-for="AccountTypeId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Deposit</h2>
            </hr>
        </div>
        <div class="mb-3">
            <label asp-for="Balance"></label>
            <input asp-for="Balance" class="form-control" />
            <span asp-validation-for="Balance" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Deposit</button>
        <a asp-action="Index" class="btn btn-secondary" style="width: 150px">Cancel</a>
    </div>
</form>