@model AccountVM
@using TigerBank.Models.ViewModels

<form method="post">
    <input asp-for="Account.AccountId" hidden />
    <input asp-for="Account.UserId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Deposit</h2>
            <br />
        </div>
        <div class="mb-3">
            <label asp-for="Account.Balance"></label>
            <input asp-for="Account.Balance" class="form-control" />
            <span asp-validation-for="Account.Balance" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Account.AccountTypeId"></label>
            <select asp-for="Account.AccountTypeId" asp-items="@Model.AccountTypeList" class="form-select">
                <option disabled selected>--Select Account Type--</option>
            </select>
            <span asp-validation-for="Account.AccountTypeId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Deposit</button>
        <a asp-action="Index" class="btn btn-secondary" style="width: 150px">Cancel</a>
    </div>
</form>