@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Tiger Banking</h1>
        <h3 class="display-6">Login</h3>
   <p>Username: <input type="text" name="Username" required="required" /></p>
    <p>Password: <input type="text" name="Password" required="required" /></p>
    <p>Need an account? <a asp-area="" asp-controller="Home" asp-action="Privacy">Signup</a>
</div>
