@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tiger Banking</h1>
    <br />

    <div align="float:right">

         <a asp-area="" asp-controller="Home" asp-action="Signup">
            <button type="submit" class="btn btn-primary" style="width: 150px">Sign Up</button>
         </a>
         <br /> <br />
          <a asp-area="" asp-controller="Home" asp-action="Login">
            <button type="submit" class="btn btn-primary" style="width: 150px">Login</button>
          </a>
         
    </div>
</div>
 