@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tiger Banking</h1>
    <br />
    <div class= "text-center">
    <div class="buttons" style="width: 200px; margin: 0 auto; display: inline;">
         <a asp-area="" asp-controller="Home" asp-action="Register">
            <button type="submit" class="btn btn-primary" style="width: 150px">Sign Up</button>
         </a>

          <a asp-area="" asp-controller="Home" asp-action="Login">
            <button type="submit" class="btn btn-primary" style="width: 150px">Login</button>
          </a>
    </div> 
    </div>
 </div>