@{
    ViewData["Title"] = "Signup";
}
<div class="text-center">
    <h1 class="display-4">Tiger Banking</h1>
     <h3 class="display-6">Sign up</h3>
   <p>Username: <input type="text" name="Username" required="required" /></p>
    <p>Password: <input type="text" name="Password" required="required" /></p>
    <p>Already have an account? <a asp-area="" asp-controller="Home" asp-action="Index">Login</a>
</div>
