@{
    ViewData["Title"] = "Tansactions Page";
}

<div class="text-center">
    <h1 class="display-6">Transactions</h1>
      <button type="submit"  class="btn btn-primary" style="width: 150px"> <a class="link-light" asp-action="AddAccount">Add Account</a></button>
    <br />
</div>